.obj
.vs
.bin
.vs/CodeReplicator/v15/Server/sqlite3/storage.ide-shm
.vs/CodeReplicator/v15/Server/sqlite3/storage.ide-wal
*.exe
*.pdb
*.cache
obj/Release/CodeReplicator.pdb
obj/Release/CodeReplicator.exe
obj/Release/CodeReplicator.csprojAssemblyReference.cache
obj/Release/CodeReplicator.csproj.GenerateResource.cache
obj/Release/CodeReplicator.csproj.FileListAbsolute.txt
obj/Release/CodeReplicator.csproj.CoreCompileInputs.cache
obj/Debug/TempPE/GenesisDataSet.Designer.cs.dll
obj/Debug/CodeReplicator.pdb
obj/Debug/CodeReplicator.exe
obj/Debug/CodeReplicator.csprojAssemblyReference.cache
obj/Debug/CodeReplicator.csproj.GenerateResource.cache
obj/Debug/CodeReplicator.csproj.FileListAbsolute.txt
obj/Debug/CodeReplicator.csproj.CoreCompileInputs.cache
bin/Release/CodeReplicator.pdb
bin/Release/CodeReplicator.exe.config
bin/Release/CodeReplicator.exe
bin/Debug/CodeReplicator.pdb
bin/Debug/CodeReplicator.exe
*.cache
